{% extends 'base.html' %}


{% block body %}

<div class="content">
  <h1>Todo Flask</h1>
  <table>
    {% for task in tasks%}
    <tr>
      <form action="/update/{{task.id}}" method="POST">
        <td><input type="text" name="task_title" id="task_title" class="title" value="{{ task.title }}"
            onblur="alert('a')"></td>
        <td>{{ task.created.day }}-{{ task.created.month }}-{{ task.created.year }}</td>
        <td>
          <input class="update" type="submit" value="Update">
      </form>
      <form action="/delete/{{task.id}}" method="DELETE">
        <input class="delete" type="submit" value="Delete">
      </form>
      </td>
    </tr>
    {% endfor %}
    <tr>
      <form action="/" method="POST">
        <td class="title-td" colspan="2"><input type="text" name="title" id="title" class="title"
            placeholder="Describe your task..."></td>
        <td><input class="create" type="submit" value="Create"></td>
      </form>
    </tr>
  </table>
</div>

{% endblock %}